#overViewButton{
    display: block;
    margin-right: 0;
    margin-left: auto;
    background-color: #17B484;
    border: none;
    color: white;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 20px;
    border-radius: 2px;
}
#farmFunc i{
    border: 2px solid rgb(235, 230, 230);
    border-radius: 50%;
    padding: 3px;
    margin-left: 2px;
}
label{
    display: block;
    margin-bottom: 15px;
}
.divDeviceFarm{
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.formDeviceFarm{
    background-color: whitesmoke;
    width: 400px;
    margin: auto;
    text-align: end;
    padding: 1px 30px 20px 20px;
    border-radius: 3px;
}
.formDeviceFarm h3{
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid rgb(235, 230, 230);
}
.formDeviceFarm input[type="text"],select{
    width: 60%;
    height: 25px;
}
.formDeviceFarm #saveButton{
    background-color: #17B484;
    border: 1px solid rgb(153, 149, 149);
    color: white;
    border-radius: 4px;
    width: 50px;
}
.formDeviceFarm #cancelButton{
    color: red;
    border: 1px solid rgb(153, 149, 149);
    border-radius: 4px;
    width: 50px;
    background-color: white;
}
.formDeviceFarm i{
    border: 2px solid rgb(235, 230, 230);
    border-radius: 50%;
    padding: 3px;
    margin-top: 5px;
    margin-right: -20px;
}
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
td,th{
    text-align: center;
    padding: 10px;
}
th{
    background-color: rgb(249, 249, 249);
}
table tr{
    border-bottom: 2px solid rgb(235, 230, 230);
}
textarea{
    width: 60%;
}
input[type="checkbox"]{
    margin-right: 194px;
    margin-bottom: 100px;
}